---
layout: page

doc:
  html:
    head:
      cls: Doc  Doc--home
      title: Dan Hurlburt - Senior Software Developer - Front-End Engineer - dhurlburtusa
---

{% capture header %}
  <div class="Masthead  Masthead--danHurlburt">
    <div class="l-Page--fixedWidth">
      <h1 class="Masthead-name">Dan Hurlburt</h1>
    </div>
  </div>
{% endcapture %}

{% capture body %}
{% include OldBrowserWarning.html %}
{% include NoScriptWarning.html %}
  <p>
    I am a senior software developer who specializes in front-end and web application development.  I have over ten years of experience
    with client-side and server-side technologies.  I have a passion for in-depth knowledge of the APIs I use most.  I also
    enjoy testing out new technologies to further enhance my knowledge of current web trends.
  </p>
{% endcapture %}

{%include Main.html hd=header bd=body bd_cls="l-Page--fixedWidth" %}
