---
layout: page

doc:
  html:
    head:
      cls: Doc  Doc--home
      title: Danny Hurlburt - Senior Full Stack Developer/Front End Engineer - dhurlburtusa
      style: |
        <style>
          .IAm { margin: 2rem 0 !important; }
          .LI-profile-badge .LI-simple-link,
          .LI-profile-badge .LI-more-info { display: none; }

          @media screen and (min-width: 28em) {
          }

          @media screen and (min-width: 42em) {
            .IAm { font-size: 1.1rem !important; }
          }

          @media screen and (min-width: 52em) {
          }

          @media screen and (min-width: 64em) {
          }
        </style>
      script: |
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-86237250-1', 'auto');
          ga('send', 'pageview');
        </script>
    body:
      script: |
        <script src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
---

{% capture header %}
  <div class="Masthead  Masthead--danHurlburt">
    <div class="l-Page--fixedWidth">
      <h1 class="Masthead-name">Danny Hurlburt</h1>
    </div>
  </div>
{% endcapture %}

{% capture body %}
{% include OldBrowserWarning.html %}
{% include NoScriptWarning.html %}
  <p class="IAm">
    <div style="float: right;">
      <div class="LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light" data-type="horizontal" data-vanity="dhurlburtusa" data-version="v1">
        <a class="LI-simple-link" href="https://www.linkedin.com/in/dhurlburtusa?trk=profile-badge">Danny Hurlburt</a>
      </div>
    </div>
    I am a senior full stack developer who specializes in front end and web application development.  I have over twelve years of experience
    with client-side and server-side technologies.  I have a passion for in-depth knowledge of the APIs I use most.  I also
    enjoy testing out new technologies to further enhance my knowledge of current web trends.
  </p>
{% endcapture %}

{%include Main.html hd=header bd=body bd_cls="l-Page--fixedWidth" %}
